---
import HMLayout from "../layouts/HMLayout.astro"
import HMThumbnail from "../components/HMThumbnail.astro"
---
<HMLayout>
    <h2>
        Other subjects
    </h2>
<HMThumbnail />
</HMLayout>