---
import HMtuoyaL from "../layouts/HMtuoyaL.astro";


---

<HMtuoyaL>
    <p class="corrupted">
        W̸̕͜e̶̙͋ ̷̲͆à̷̜r̶̩͝e̶͖͌ ̶̯͊t̷͈͊ȟ̵ͅe̷̥͆ ̶̗̋c̵͖͑h̴͍̑i̷̦̋l̵̺͋d̶̠̕r̵̬͝e̴͇͆n̸̢͒ ̵̮̏o̴̻͆f̵̈́͜ ̷͓̉t̴̨̍h̴̨͋ė̵̼ ̵̱͆ḓ̸̀ȩ̸͒v̵͚̄o̶̻͑ḷ̶̿ȗ̸̪ț̴́i̸̪̋o̶̬̕n̷̞̋
        <br>
        ̸̩͛Ṭ̴̉ḩ̷̑ḛ̶̈ ̶̱̑ĭ̴͖n̶̠̅f̶̮́a̶̮̿m̵̨̄o̸̫͂ǘ̸̧s̴̻̕ ̸̳̋m̸͔͆å̸̱r̵̛͜t̴͙͂y̴̰̅r̷̢̿s̵̻͂,̵̟̈ ̷̙̋ṯ̸́h̸̬̔e̶͖͗ ̸̧̊s̵̨̎ć̴͕â̴̝r̸͕̐s̸̞̊ ̶̗̏ò̸͓n̸̪̓ ̷͖̈ẗ̴̫́h̸̪̊e̴̳͐ ̵̼̎ṡ̸͉u̸͇͆n̴̨̛
        <br>
        ̸̘̋A̵͕͋s̵͝ͅp̴̬̉h̷͇̾ẙ̸͔x̷̬͂i̵̲͌ä̶̰t̴̹͐i̶̞̍ņ̵͝g̷͚͋ ̵̝͂w̷̫̽i̷̦̎t̸̜̓ĥ̴̪ ̸̼͌ą̵͊ ̵̗͝s̶͕̃m̸̞͂i̴͚͗l̸̡̔e̸͈̔ ̵̫̇ó̴̙n̴̲͗ ̶̡̆ẏ̴̝ò̸̢u̸̞͝r̴̫̆ ̴͓͋f̶̖̐à̷͇c̶̪̕e̴̥̎
        <br>
        ̵͚̑Ẃ̵̗h̷̺͌i̶̙͂l̷̩̿e̶̦͝ ̸̜̈́ť̷͇h̶̰̀ě̶̻ŷ̴̻ ̶̲̃p̴̰̕u̴̠͒l̴̬͛l̴̯͝ ̶͖̊y̶̖͝ò̵̮u̵͖͆r̷͐ͅ ̸̳͒t̶̘͒e̷̘͝ê̵̠t̸͍̉ḧ̷̠́ ̵̭͝o̵͓͠ú̷̘t̷̜͒ ̷̝̐ŏ̵̫n̷̯͘e̵̩̽ ̵̲̂b̶̼̏y̷̝̒ ̶̥̃ő̴̙ñ̵̳ȅ̴͚
    </p>
</HMtuoyaL>