---
import HMmusicpage from "../components/HMmusicpage.astro"
import HMtuoyaL from "../layouts/HMtuoyaL.astro"
import HMsound from "../components/HMsound.astro"
---

<HMtuoyaL>
    <h1>Welcome to the Music Side</h1>
    <HMsound/>
    <HMmusicpage/>
</HMtuoyaL>