---
import "../style/HMstyle-tgt.scss"
---
<html>
    <h1>
		Eastern Conference
	</h1>
    <h2>
        Atlantic Division
    </h2>
    <div class="pictures">

        <div class="team">
            <picture>
                <a href="https://www.nba.com/celtics/"><img src="https://fadeawayworld.net/.image/t_share/MTkyOTgxMjg1MzIzNDE3Mjk2/celtics.jpg"></a>
            </picture>
            <p>Boston Celtics</p>
        </div>

        <div class="team">
            <picture>
                <a href="https://www.nba.com/nets/"><img src="https://fadeawayworld.net/.image/t_share/MTgwMTMyODI4MTEzMDIwMjQ4/the-powerful-brooklyn-nets-team-if-they-made-perfect-decisions.jpg"></a>
            </picture>
            <p>Brooklyn Nets</p>
        </div>

        <div class="team">
            <picture>
                <a href="https://www.nba.com/knicks/"><img src="https://fadeawayworld.net/.image/t_share/MjAwODgxODM4MjA0Mzk2NzQ4/379606428_1351947359073507_8536157141400625044_n.png"></a>
            </picture>
            <p>New York Knicks</p>
        </div>

        <div class="team">
            <picture>
                <a href="https://www.nba.com/sixers/"><img src="https://fadeawayworld.net/.image/t_share/MjAwOTAyOTQzOTQyMTI0NzQ4/377242219_256934517331460_5746360780351353660_n.png"></a>
            </picture>
            <p>Philadelphia 76ers</p>
        </div>

        <div class="team">
            <picture>
                <a href="https://www.nba.com/raptors/"><img src="https://fadeawayworld.net/.image/ar_4:3%2Cc_fill%2Ccs_srgb%2Cq_auto:good%2Cw_1200/MjAwOTU0MzgyMDgxMDc0NTYy/381022312_24076285355318222_1674091269204589845_n.png"></a>
            </picture>
            <p>Toronto Raptors</p>
        </div>
    </div>
    <h2>
        Central Division
    </h2>
    <div class="pictures">
        <div class="team">
            <picture>
                <a href="https://www.nba.com/bulls/"><img src="https://fadeawayworld.net/.image/ar_16:9%2Cc_fill%2Ccs_srgb%2Cq_auto:good%2Cw_1200/MjAwNjI3MDQ5NzM4NzQxMTEy/373364219_1353358985605204_889929263778120434_n.png"></a>
            </picture>
            <p>Chicago Bulls</p>
        </div>

        <div class="team">
            <picture>
                <a href="https://www.nba.com/cavaliers/"><img src="https://cdn.nba.com/manage/2023/10/GettyImages-1705874832-e1696974759647.jpg"></a>
            </picture>
            <p>Cleveland Cavaliers</p>
        </div>

        <div class="team">
            <picture>
                <a href="https://www.nba.com/pistons/"><img src="https://fadeawayworld.net/.image/t_share/MjAwNzIwNTc0NTMwNDYyOTI0/377911367_311242338115956_2016031836136497672_n.png"></a>
            </picture>
            <p>Detroit Pistons</p>
        </div>

        <div class="team">
            <picture>
                <a href="https://www.nba.com/pacers/"><img src="https://fadeawayworld.net/.image/t_share/MjAwNzQ1OTgyMjE0ODA4Nzgw/378100982_253596297070063_1245574065328433255_n.png"></a>
            </picture>
            <p>Indiana Pacers</p>
        </div>

        <div class="team">
            <picture>
                <a href="https://www.nba.com/bucks/"><img src="https://fadeawayworld.net/.image/t_share/MjAwODE3NTk3MzA0ODA4NjUy/378035407_1741353939656052_2580029634875174453_n.png"></a>
            </picture>
            <p>Milwaukee Bucks</p>
        </div>

    </div>
    <h2>
        Southeast Division
    </h2>
    <div class="pictures">

        <div class="team">
            <picture>
                <a href="https://www.nba.com/hawks/"><img src="https://fadeawayworld.net/.image/t_share/MjAwNTg1NTg1MDUwNTI2ODI4/373398380_686146250064040_2757801025323582399_n.png"></a>
            </picture>
            <p>Atlanta Hawks</p>
        </div>

        <div class="team">
            <picture>
                <a href="https://www.nba.com/hornets/"><img src="https://fadeawayworld.net/.image/ar_16:9%2Cc_fill%2Ccs_srgb%2Cq_auto:good%2Cw_1200/MjAwNjA3Mjg0MDMwNjc4Mzky/373075062_996306711612301_5534997409524076875_n.png"></a>
            </picture>
            <p>Charlotte Hornets</p>
        </div>

        <div class="team">
            <picture>
                <a href="https://www.nba.com/heat/"><img src="https://fadeawayworld.net/.image/ar_16:9%2Cc_fill%2Ccs_srgb%2Cq_auto:good%2Cw_1200/MjAwNzkyNjc4NDQxNDI4MTcy/379309285_979626053152434_6293196828591891617_n.png"></a>
            </picture>
            <p>Miami Heat</p>
        </div>

        <div class="team">
            <picture>
                <a href="https://www.nba.com/magic/"><img src="https://fadeawayworld.net/.image/t_share/MjAwODg0MjI3NTQ4NDU2MTQw/378220994_1030826757949222_1313125244398475813_n.jpg"></a>
            </picture>
            <p>Orlando Magic</p>
        </div>

        <div class="team">
            <picture>
                <a href="https://www.nba.com/wizards/"><img src="https://fadeawayworld.net/.image/ar_4:3%2Cc_fill%2Ccs_srgb%2Cq_auto:good%2Cw_1200/MjAxMDQyNDcxMDU1MDA5NDQy/380719234_701634198150663_6732221957933797249_n.png"></a>
            </picture>
            <p>Washington Wizards</p>
        </div>

    </div>
	<h1>
        Western Conference
    </h1>
    <h2>
        Northwest Division
    </h2>
    <div class="pictures">

        <div class="team">
            <picture>
                <a href="https://www.nba.com/nuggets/"><img src="https://fadeawayworld.net/.image/ar_16:9%2Cc_fill%2Ccs_srgb%2Cq_auto:good%2Cw_1200/MjAwNjk4MjAzMzg4MTI2NTk0/377949305_1037086644328859_5536972460776023188_n.png"/></a>
            </picture>
            <p>Denver Nuggets</p>
        </div>

        <div class="team">
            <picture>
                <a href="https://www.nba.com/timberwolves/"><img src="https://fadeawayworld.net/.image/ar_16:9%2Cc_fill%2Ccs_srgb%2Cq_auto:good%2Cw_1200/MjAwODE2Mzk0OTgyNDAxMjI4/379343504_1230814707590154_2954960025930566977_n.png"/></a>
            </picture>
            <p>Minnesota Timberwolves</p>
        </div>

        <div class="team">
            <picture>
                <a href="https://www.nba.com/thunder/"><img src="https://fadeawayworld.net/.image/t_share/MjAwODg0MjI3NTQ4MzkwNjA0/378213809_328042876396951_1171362921401509973_n.jpg"/></a>
            </picture>
            <p>Oklahoma City Thunder</p>
        </div>

        <div class="team">
            <picture>
                <a href="https://www.nba.com/blazers/"><img src="https://fadeawayworld.net/.image/ar_4:3%2Cc_fill%2Ccs_srgb%2Cq_auto:good%2Cw_1200/MjAwOTU0NDE0ODMwMjAwMDEy/381038985_1279903716034655_754838661224132492_n.png"/></a>
            </picture>
            <p>Portland Trail Blazers</p>
        </div>

        <div class="team">
            <picture>
                <a href="https://www.nba.com/jazz/"><img src="https://fadeawayworld.net/.image/t_share/MjAxMDQyNDcxMDU1MDc0OTc4/380861126_6807083039335837_1175114254409880482_n.png"/></a>
            </picture>
            <p>Utah Jazz</p>
        </div>
    </div>
    <h2>
        Pacific Division
    </h2>
    <div class="pictures">

        <div class="team">
            <picture>
                <a href="https://www.nba.com/warriors/"><img src="https://fadeawayworld.net/.image/ar_16:9%2Cc_fill%2Ccs_srgb%2Cq_auto:good%2Cw_1200/MjAwNzIwNTc0NTMwNDYzMTA2/378027723_860924272258520_7120936985172974670_n.png"/></a>
            </picture>
            <p>Golden State Warriors</p>
        </div>
        <div class="team">
            <picture>
                <a href="https://www.nba.com/clippers/"><img src="https://fadeawayworld.net/.image/ar_1.91%2Cc_fill%2Ccs_srgb%2Cg_faces:center%2Cq_auto:good%2Cw_1200/MjAwNzcxMzg2MTQxMDU4MjUy/377915901_813447157182142_1227637962438332537_n.png"/></a>
            </picture>
            <p>Los Angeles Clippers</p>
        </div>

        <div class="team">
            <picture>
                <a href="https://www.nba.com/lakers/"><img src="https://fadeawayworld.net/.image/ar_16:9%2Cc_fill%2Ccs_srgb%2Cq_auto:good%2Cw_1200/MTk2MzYwNTE3ODEwMzk4ODY2/332714139_717942563166521_2859140067715469405_n.png"/></a>
            </picture>
            <p>Los Angeles Lakers</p>
        </div>

        <div class="team">
            <picture>
                <a href="https://www.nba.com/suns/"><img src="https://fadeawayworld.net/.image/t_share/MjAwOTAyOTQ0MjEwNTYwMjA0/378247023_998963607916487_8613817652597885768_n.png"/></a>
            </picture>
            <p>Phoenix Suns</p>
        </div>

        <div class="team">
            <picture>
                <a href="https://www.nba.com/kings/"><img src="https://fadeawayworld.net/.image/ar_4:3%2Cc_fill%2Ccs_srgb%2Cq_auto:good%2Cw_1200/MjAwOTI3MjI5Mjk3ODI5MjUw/379662605_826091729002710_6480327009132120044_n.png"/></a>
            </picture>
            <p>Sacramento Kings</p>
        </div>
    </div>
    <h2>
        Southwest Division
    </h2>
    <div class="pictures">
        <div class="team">
            <picture>
                <a href="https://www.nba.com/mavericks/"><img src="https://fadeawayworld.net/.image/t_share/MjAwNjk4MjAzMzg3OTk1NTIy/377905818_347144737652771_5715823555171781339_n.png"/></a>
            </picture>
            <p>Dallas Mavericks</p>
        </div>

        <div class="team">
            <picture>
                <a href="https://www.nba.com/rockets/"><img src="https://fadeawayworld.net/.image/ar_16:9%2Cc_fill%2Ccs_srgb%2Cq_auto:good%2Cw_1200/MjAwNzQ2MzY1ODA5MDc1NDA0/378007860_675239377597299_9006100425234425949_n.png"/></a>
            </picture>
            <p>Houston Rockets</p>
        </div>

        <div class="team">
            <picture>
                <a href="https://www.nba.com/grizzlies/"><img src="https://fadeawayworld.net/.image/t_share/MjAwNzkyNjc4NDQxNDkzNzA4/377981593_197802153318832_4518339994525537643_n.png"/></a>
            </picture>
            <p>Memphis Grizzlies</p>
        </div>

        <div class="team">
            <picture>
                <a href="https://www.nba.com/pelicans/"><img src="https://www.insidebasket.com/news/uploads/NBA-2023-2024/2023-pels-mccollum-valanciunas-ingram-jones-zion.jpg"/></a>
            </picture>
            <p>New Orleans Pelicans</p>
        </div>

        <div class="team">
            <picture>
                <a href="https://www.nba.com/spurs/"><img src="https://fadeawayworld.net/.image/t_share/MjAwOTU0MzgyMzQ5NTEwMDE4/381035778_342520041460263_4609040926057675800_n.png"/></a>
            </picture>
            <p>San Antonio Spurs</p>
        </div>
    </div>
</html>