---

---

<html>
    <h2>
		Assassin's Creed Games
	</h2>
    <div class="pictures">

        <div class="game">
            <picture>
                <a href=""><img src="/Assets/AC.png"></a>
            </picture>
            <p>Assassin's Creed</p>
        </div>

        <div class="game">
            <picture>
                <a href=""><img src="/Assets/AC2.png"></a>
            </picture>
            <p>Assassin's Creed II</p>
        </div>

        <div class="game">
            <picture>
                <a href=""><img src="/Assets/ACB.png"></a>
            </picture>
            <p>Assassin's Creed Brotherhood</p>
        </div>

        <div class="game">
            <picture>
                <a href=""><img src="/Assets/ACR.png"></a>
            </picture>
            <p>Assassin's Creed Revelations</p>
        </div>

        <div class="game">
            <picture>
                <a href=""><img src="/Assets/AC3.png"></a>
            </picture>
            <p>Assassin's Creed III</p>
        </div>

        <div class="game">
            <picture>
                <a href=""><img src="/Assets/ACL.png"></a>
            </picture>
            <p>Assassin's Creed Liberation</p>
        </div>

        <div class="game">
            <picture>
                <a href=""><img src="/Assets/ACBL.png"></a>
            </picture>
            <p>Asssassin's Creed IV: Black Flag</p>
        </div>

        <div class="game">
            <picture>
                <a href=""><img src="/Assets/ACRogue.png"></a>
            </picture>
            <p>Assassin's Creed Rogue</p>
        </div>

        <div class="game">
            <picture>
                <a href=""><img src="/Assets/ACU.png"></a>
            </picture>
            <p>Assassin's Creed Unity</p>
        </div>

        <div class="game">
            <picture>
                <a href=""><img src="/Assets/ACS.png"></a>
            </picture>
            <p>Assassin's Creed Syndicate</p>
        </div>

        <div class="game">
            <picture>
                <a href=""><img src="/Assets/ACO.png"></a>
            </picture>
            <p>Assassin's Creed Origins</p>
        </div>

        <div class="game">
            <picture>
                <a href=""><img src="/Assets/ACOdyssey.png"></a>
            </picture>
            <p>Assassin's Creed Odyssey</p>
        </div>

        <div class="game">
            <picture>
                <a href=""><img src="/Assets/ACV.png"></a>
            </picture>
            <p>Assassin's Creed Valhalla</p>
        </div>

        <div class="game">
            <picture>
                <a href=""><img src="/Assets/ACM.png"></a>
            </picture>
            <p>Assassin's Creed Mirage</p>
        </div>

        <div class="game">
            <picture>
                <a href=""><img src="/Assets/ACShadows.png"></a>
            </picture>
            <p>Assassin's Creed Shadows</p>
        </div>
    </div>
</html>

<style>
h2 {
    text-align: center;
    margin: 50px;
}

.pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game img {
    width: 550px;
    height: 320px;
    border-radius: 20px;
}

.game img:hover {
    box-shadow: #a53333 0px 5px 15px;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
.game p {
    color: #a53333;
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}
</style>