---
import "../style/HMstyle-tgt.scss"
---

<html>
    <h2>
		Assassin's Creed Games
	</h2>
    <div class="pictures">

        <div class="game">
            <picture>
                <a href="https://www.ubisoft.com/fr-fr/game/assassins-creed/assassins-creed"><img src="/Assets/AC.png"></a>
            </picture>
            <p>Assassin's Creed</p>
        </div>

        <div class="game">
            <picture>
                <a href="https://www.ubisoft.com/fr-fr/game/assassins-creed/assassins-creed-ii"><img src="/Assets/AC2.png"></a>
            </picture>
            <p>Assassin's Creed II</p>
        </div>

        <div class="game">
            <picture>
                <a href="https://www.ubisoft.com/fr-fr/game/assassins-creed/brotherhood"><img src="/Assets/ACB.png"></a>
            </picture>
            <p>Assassin's Creed Brotherhood</p>
        </div>

        <div class="game">
            <picture>
                <a href="https://www.ubisoft.com/fr-fr/game/assassins-creed/revelations"><img src="/Assets/ACR.png"></a>
            </picture>
            <p>Assassin's Creed Revelations</p>
        </div>

        <div class="game">
            <picture>
                <a href="https://www.ubisoft.com/fr-fr/game/assassins-creed/assassins-creed-3-remastered"><img src="/Assets/AC3.png"></a>
            </picture>
            <p>Assassin's Creed III</p>
        </div>

        <div class="game">
            <picture>
                <a href="https://www.ubisoft.com/fr-fr/game/assassins-creed/assassins-creed-3-remastered"><img src="/Assets/ACL.png"></a>
            </picture>
            <p>Assassin's Creed Liberation</p>
        </div>

        <div class="game">
            <picture>
                <a href="https://www.ubisoft.com/fr-fr/game/assassins-creed/iv-black-flag"><img src="/Assets/ACBL.png"></a>
            </picture>
            <p>Asssassin's Creed IV: Black Flag</p>
        </div>

        <div class="game">
            <picture>
                <a href="https://www.ubisoft.com/fr-fr/game/assassins-creed/rogue-remastered"><img src="/Assets/ACRogue.png"></a>
            </picture>
            <p>Assassin's Creed Rogue</p>
        </div>

        <div class="game">
            <picture>
                <a href="https://www.ubisoft.com/fr-fr/game/assassins-creed/unity"><img src="/Assets/ACU.png"></a>
            </picture>
            <p>Assassin's Creed Unity</p>
        </div>

        <div class="game">
            <picture>
                <a href="https://www.ubisoft.com/fr-fr/game/assassins-creed/syndicate"><img src="/Assets/ACS.png"></a>
            </picture>
            <p>Assassin's Creed Syndicate</p>
        </div>

        <div class="game">
            <picture>
                <a href="https://www.ubisoft.com/fr-fr/game/assassins-creed/origins"><img src="/Assets/ACO.png"></a>
            </picture>
            <p>Assassin's Creed Origins</p>
        </div>

        <div class="game">
            <picture>
                <a href="https://www.ubisoft.com/fr-fr/game/assassins-creed/odyssey"><img src="/Assets/ACOdyssey.png"></a>
            </picture>
            <p>Assassin's Creed Odyssey</p>
        </div>

        <div class="game">
            <picture>
                <a href="https://www.ubisoft.com/fr-fr/game/assassins-creed/valhalla"><img src="/Assets/ACV.png"></a>
            </picture>
            <p>Assassin's Creed Valhalla</p>
        </div>

        <div class="game">
            <picture>
                <a href="https://www.ubisoft.com/fr-fr/game/assassins-creed/mirage"><img src="/Assets/ACM.png"></a>
            </picture>
            <p>Assassin's Creed Mirage</p>
        </div>

        <div class="game">
            <picture>
                <a href="https://www.ubisoft.com/fr-fr/game/assassins-creed/shadows"><img src="/Assets/ACShadows.png"></a>
            </picture>
            <p>Assassin's Creed Shadows</p>
        </div>
    </div>
</html>
