---

---

<html>
    <h2>
		Metal
	</h2>
    <div class="pictures">

        <div class="band">
            <picture>
                <a href="https://www.bmthofficial.com"><img src="/Assets/BMTH.png"></a>
            </picture>
            <p>Bring Me The Horizon</p>
        </div>

        <div class="band">
            <picture>
                <a href="https://www.metallica.com"><img src="/Assets/Metallica.png"></a>
            </picture>
            <p>Metallia</p>
        </div>

        <div class="band">
            <picture>
                <a href="https://www.slipknot1.com"><img src="/Assets/Slipknot.png"></a>
            </picture>
            <p>Slipknot</p>
        </div>

        <div class="band">
            <picture>
                <a href="https://www.rammstein.com"><img src="/Assets/Rammstein.png"></a>
            </picture>
            <p>Rammstein</p>
        </div>

        <div class="band">
            <picture>
                <a href="https://www.systemofadown.com"><img src="/Assets/SOAD.png"></a>
            </picture>
            <p>System Of A Down</p>
        </div>

        <div class="band">
            <picture>
                <a href="https://www.blacksabbath.com"><img src="/Assets/BlackSabbath.png"></a>
            </picture>
            <p>Black Sabbath</p>
        </div>
    </div>
	<h2>
        Rock
    </h2>
    <div class="pictures">

        <div class="band">
            <picture>
                <a href="https://www.acdc.com"><img src="/Assets/ACDC.png"/></a>
            </picture>
            <p>ACDC</p>
        </div>

        <div class="band">
            <picture>
                <a href="https://www.palayeroyale.com"><img src="/Assets/PalayeRoyale.png"></a>
            </picture>
            <p>Palaye Royale</p>
        </div>

        <div class="band">
            <picture>
                <a href="https://www.yungbludofficial.com"><img src="/Assets/Yungblud.png"></a>
            </picture>
            <p>Yungblud</p>
        </div>

        <div class="band">
            <picture>
                <a href="https://www.fallinginreverse.com"><img src="/Assets/FIR.png"></a>
            </picture>
            <p>Falling In Reverse</p>
        </div>

        <div class="band">
            <picture>
                <a href="https://www.gunsnroses.com"><img src="/Assets/GnR.png"></a>
            </picture>
            <p>Guns N' Roses</p>
        </div>

        <div class="band">
            <picture>
                <a href="https://www.linkinpark.com"><img src="/Assets/LP.png"></a>
            </picture>
            <p>Linkin Park</p>
        </div>

    </div>
</html>

<style>
h2 {
    text-align: center;
    margin: 50px;
}

.pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.band {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.band img {
    width: 550px;
    height: 320px;
    border-radius: 20px;
}

.band img:hover {
    box-shadow: #a53333 0px 5px 15px;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
.band p {
    color: #a53333;
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}
</style>