---

---

<html>
    <h2>
		Metal
	</h2>
    <div class="pictures">
        <picture>
            <img src="/Assets/BMTH.png">
        </picture>
        <picture>
            <img src="/Assets/Metallica.png">
        </picture>
        <picture>
            <img src="/Assets/Slipknot.png">
        </picture>
        <picture>
            <img src="/Assets/Rammstein.png">
        </picture>
    </div>
	<h2>
        Rock
    </h2>
    <div class="pictures">
        <picture>
            <img src="/Assets/ACDC.png"/>
        </picture>
        <picture>
            <img src="/Assets/PalayeRoyale.png">
        </picture>
        <picture>
            <img src="/Assets/Yungblud.png">
        </picture>
        <picture>
            <img src="/Assets/FIR.png">
        </picture>
        <picture>
            <img src="/Assets/SOAD.png">
        </picture>
        <picture>
            <img src="/Assets/LP.png">
        </picture>
        </div>
    </div>
</html>

<style>
h2 {
    text-align: center;
}
.pictures img {
    width:550px ;
    height:320px;
    border-radius:20px;
    margin: 50px ;
    align-items: center;
    justify-content: center;
    display: flexbox;
}

</style>