---
interface Props {
    header: string;
}

const { header } = Astro.props;
---
<header>
    <nav>
        <ul>
            <li class="logo"><img src="/Assets/AmEn!.png" alt="AmEn! Logo" width="150" height="130"></li>
            <li><a href="/Music">Home</a></li>
            <li><a href="/games">Games</a></li>
            <li><a href="/discover">Discover</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/index.html" class="return">I want to go back</a></li>
        </ul>
    </nav>
</header>