---

---

<p>
    W̸̕͜e̶̙͋ ̷̲͆à̷̜r̶̩͝e̶͖͌ ̶̯͊t̷͈͊ȟ̵ͅe̷̥͆ ̶̗̋c̵͖͑h̴͍̑i̷̦̋l̵̺͋  D r̵̬͝e̴͇͆n̸̢͒ ̵̮̏o̴̻͆f̵̈́͜ ̷͓̉t̴̨̍h̴̨͋ E ḓ̸̀ȩ̸͒ V o̶̻͑ḷ̶̿ȗ̸̪ț̴́i̸̪̋o̶̬̕n̷̞̋
    <br>
    ̸̩͛Ṭ̴̉ḩ̷̑ḛ̶̈ ̶̱̑ĭ̴͖n̶̠̅f̶̮́a̶̮̿m̵̨̄ O ǘ̸̧s̴̻̕ ̸̳̋m̸͔͆å̸̱r̵̛͜t̴͙͂y̴̰̅r̷̢̿s̵̻͂,̵̟̈ ̷̙̋ṯ̸́h̸̬̔e̶͖͗ ̸̧̊s̵̨̎ć̴͕â̴̝r̸͕̐s̸̞̊ ̶̗̏ò̸͓n̸̪̓ ̷͖̈ẗ̴̫́h̸̪̊e̴̳͐ ̵̼̎ṡ̸͉u̸͇͆n̴̨̛
    <br>
    ̸̘̋A̵͕͋s̵͝ͅp̴̬̉h̷͇̾ẙ̸͔x̷̬͂i̵̲͌ä̶̰t̴̹͐i̶̞̍ņ̵͝g̷͚͋ ̵̝͂w̷̫̽i̷̦̎t̸̜̓ĥ̴̪ ̸̼͌ą̵͊ ̵̗͝s̶͕̃m̸̞͂i̴͚͗ L e̸͈̔ ̵̫̇ó̴̙n̴̲͗ ̶̡̆ẏ̴̝ò̸̢ U r̴̫̆ ̴͓͋f̶̖̐à̷͇c̶̪̕e̴̥̎
    <br>
    ̵͚̑Ẃ̵̗h̷̺͌i̶̙͂l̷̩̿e̶̦͝ ̸̜̈́ T h̶̰̀ě̶̻ŷ̴̻ ̶̲̃p̴̰̕u̴̠͒ I l̴̯͝ ̶͖̊y̶̖͝ O u̵͖͆r̷͐ͅ ̸̳͒t̶̘͒e̷̘͝ê̵̠t̸͍̉ḧ̷̠́ ̵̭͝o̵͓͠ú̷̘t̷̜͒ ̷̝̐ŏ̵̫n̷̯͘e̵̩̽ ̵̲̂b̶̼̏y̷̝̒ ̶̥̃ő̴̙ N ȅ̴͚
</p>

<body>
    <form>
        <label for="pswd">CODE HERE : </label>
        <input type="text" id="pswd">
        <input type="button" value="Submit" onclick="checkPswd();" />
    </form>
    
    <script type="text/javascript">
        function checkPswd() {
            var confirmPassword = "DEVOLUTION";
            var password = document.getElementById("pswd").value;
            if (password == confirmPassword) {
                window.location="/secret";
            }
            else{
                alert("Wrong password.");
            }
        }
    </script>
    </body>

    <style>

p {
    margin-top: 50px;
}
form {
    margin-top: 200px; 
    background-color: #3a3a3a;
    padding: 10px; 
    border-radius: 6px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    text-align: center;
    width: 300px; 
    margin-left: auto;
    margin-right: auto; 
}

label {
    display: block;
    margin-bottom: 8px; 
    color: #e74c3c;
    font-weight: bold;
    font-size: 14px; 
}

input[type="text"] {
    width: calc(100% - 20px); 
    padding: 8px; 
    margin-bottom: 10px; 
    border: 1px solid #e74c3c;
    border-radius: 3px; 
    background-color: #2c2c2c;
    color: #f5f5f5;
    font-size: 14px; 
}

input[type="button"] {
    background-color: #e74c3c;
    color: #f5f5f5;
    border: none;
    padding: 8px 16px; 
    border-radius: 3px; 
    cursor: pointer;
    font-size: 14px; 
}

input[type="button"]:hover {
    background-color: #c0392b;
}
    </style>