---

---
<html>
<div class="images-menu">
    <div class="Music">
        <video src="/Assets/BMTH-KA.mp4" controls 
        poster="/Assets/BMTH_live.png">
        </video>
        <a href="/Music"><button>Music World</button></a>
    </div>
    <div class="Basket">
        <video src="/Assets/MJ-dunk.mp4" controls
        poster="/Assets/MJ-poster.png">
        </video>
        <a href="/Basket"><button>Basket World</button></a>
    </div>
</div>
</html>

<style>
.images-menu {
    display:inline ;
    text-align: center;
    align-items: baseline;
}
div.Music {
    flex-direction: column;
    text-align: left;
    display:flex;
    justify-content: center;
    align-items: center;
}
div.Basket {
    flex-direction: column;
    text-align: right;
    display:flex;
    justify-content: center;
    align-items: center;
}
.Basket video{
    width:36% ;
    height:20%;
    border-radius:20px;
    margin: 50px;
}
.Music video{
    width:36% ;
    height:10%;
    border-radius:20px;
    margin: 50px;
}
.Basket video:hover {
    filter:drop-shadow(0 0 10px red);
    
}
.Music video:hover {
    filter:drop-shadow(0 0 10px red);
    
}
.images-menu button {
    background-color: #186448;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
}
.images-menu button:hover {
    filter: drop-shadow(0 0 15px rgb(118, 43, 216));
}
</style>