---
import "../style/HMBstyle.scss"
import HMBHeader from "../components/HMBHeader.astro"
import HMFooter from "../components/HMFooter.astro"
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/HMLogo.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>H.M Website</title>
	</head>
	<body>

        <HMBHeader header=title/>

		<slot />

        <HMFooter />

	</body>
	
</html>